<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:include="page :: styles-global"></head>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/style.css}"></link>

</head>
<body>

	<div id="header" th:include="page :: header"></div>
	
	<h1>Home</h1>
	
	<h2 th:text="#{spitter.welcome}"></h2>


	<div id="scripts" th:include="page :: scripts"></div>

</body>
</html>