<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" th:href="@{/resources/style.css}" />
<title>Insert title here</title>
</head>
<body>


	<form action="registrar" method="post" th:object="${naruto}">

		<div class="erros" th:if="${#fields.hasErrors('*')}">
			<ul>
				<li th:each="erro : ${#fields.errors('*')}" >Aqui está o erro [[${erro}]]</li>
			</ul>
		</div>

		<label th:class="${#fields.hasErrors('nome')} ? 'erros'">Nome</label>
		<input type="text" th:field="*{nome}" th:class="${#fields.hasErrors('nome')} ? 'erros'" /> 
		
		<label th:class="${#fields.hasErrors('sobrenome')} ? 'erros'">Sobrenome</label>
		<input type="text" th:field="*{sobrenome}" th:class="${#fields.hasErrors('sobrenome')} ? 'erros'"/>
		
		<label th:class="${#fields.hasErrors('golpe')} ? 'erros'">Golpes</label> 
		<input type="text" th:field="*{golpe}" th:class="${#fields.hasErrors('golpe')} ? 'erros'"/>

		
		<input type="hidden" name="id" /> <input type="submit"	name="registrar" />

	</form>


</body>
</html>