<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="page :: styles-global"></head>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
</head>
<body>

	<div id="header" th:include="page :: header"></div>
	
   <li class="dropdown"><a href="#" class="dropdown-toggle"
		data-toggle="dropdown" role="button" aria-haspopup="true"
		aria-expanded="false">[[#{servicocampo.idioma}]]<span class="caret"></span></a>
		<ul class="dropdown-menu">							
			<li><a th:href="@{form(language='pt')}">[[#{servicocampo.idioma.pt}]]</a></li>
			<li><a th:href="@{form(language='en')}">[[#{servicocampo.idioma.en}]]</a></li>
		</ul>
	</li>
	
	<div class="container-fluid">

		<form action="adicionar" th:action="@{/admin/usuario/adicionar}"
			method="POST" th:object="${usuario}">
			<div class="form-group">
	
				<label>[[#{usuario.usuario}]]</label> 
				<span>[[#{Size.usuario.usuario}]]</span> 
				<input type="text" th:field="*{usuario}" th:class="${#fields.hasErrors('usuario')}?'error form-control':'form-control'" /> 
				
				<label>[[#{usuario.senha}]]</label>
				<span>[[#{Size.usuario.senha}]]</span> 
				<input type="text" th:field="*{senha}" th:class="${#fields.hasErrors('senha')}?'error form-control':'form-control'" />
				
				<label for="sel1">[[#{usuario.ativo}]]</label>
			  	<select th:field="*{ativo}" class="form-control">
			    	<option value="1">[[#{usuario.ativo.sim}]]</option>
			    	<option value="0">[[#{usuario.ativo.nao}]]</option>
			 	</select>
				  
				<input	type="hidden" th:field="*{id}" /> 
				<button type="submit" class="btn btn-default">[[#{usuario.salvar}]]</button>
			</div>
		</form>
	</div>
	<div id="scripts" th:include="page :: scripts"></div>
</body>
</html>